@media (max-width: 768px) {
  body {
    padding: 20px;
  }
  .container {
    flex-direction: column;
    gap: 0;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }

  h1 {
    font-size: 2.3rem;
  }
  .fa-arrow-right,
  .fa-arrow-left {
    rotate: 90deg;
    padding-left: 10px;
    padding-top: 0;
  }

  .reverseText {
    font-size: 1.5rem;
  }
  .reverseLinks {
    writing-mode: inherit;
    text-align: center;
    transform: rotate(0deg);
  }
}

@media (max-width: 600px) {
  .projet-infos {
    flex-wrap: wrap;
  }

  .projet-titre {
    font-size: 2rem;
    margin-top: 0;
  }

  .projet-lien {
    padding: 20px 10px;
  }
}
